FIREBASE_API_KEY=AIzaSyAs9epDg6cgj9Yctk4VTPFMhc-GWYZqcEM
FIREBASE_AUTH_DOMAIN=serenova-4ed34.firebaseapp.com
FIREBASE_PROJECT_ID=serenova-4ed34
FIREBASE_STORAGE_BUCKET=serenova-4ed34.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=365084180891
FIREBASE_APP_ID=1:365084180891:web:880ca079ebf9ce08a3213e
FIREBASE_MEASUREMENT_ID=G-KKBTBBSM4B